<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<div class="page-header">
  <h1>{{post.title}}  <small>{{post.id}}</small></h1>
</div>

<p> {{post.title}} </p>
<p> {{post.id}} </p>
<p> {{post.description}} </p>

<hr/>

<h3>Comments</h3>

<div class="row">
	<div class="col-sm-6">
		<input class="form-control" type="text" ng-model='query' placeholder="filter comments">
	</div>
</div>

<!-- <ul>
	<li ng-repeat='comment in post.comments | filter : query'>
		{{comment.text}}
		<a href='#' confirm-click="do you want to delete?" confirmed-click = 'deleteComment(comment)'>Confirm</a>
		<a href='#' ng-click = 'deleteComment(comment)'>Delete</a>
	</li>
</ul> -->

<ul>
	<li dir-paginate = 'comment in post.comments | filter : query | itemsPerPage: 3 as mainComments'>
		{{comment.text}}
		<a href='#' confirm-click="do you want to delete?" confirmed-click = 'deleteComment(comment)'>Confirm</a>
		<a href='#' ng-click = 'deleteComment(comment)'>Delete</a>
	</li>
</ul>
<dir-pagination-controls ng-hide = 'query.length > 0'></dir-pagination-controls>

<span ng-if='mainComments.length == 0'>No items found</span>

<hr/>

<div class="row">
	<div class="col-sm-6">
		<p style="color:red" ng-if='reply.text'>Preview: {{reply.text}}</p>
		<form ng-submit='addReply()'>
			<input type="hidden" ng-model='reply.id' value="5">
			<textarea class="form-control" ng-model='reply.text'></textarea>
			<input class="btn btn-default" type="submit">
		</form>
	</div>
</div>

</div>
</div>